<template>
    <v-card>
        <v-container fluid grid-list-lg>
            <v-layout row wrap>
                <v-flex sx12>
                    <v-card>
                        <v-card-title primary-title>
                            <div class="headline">CARD TITLE</div>
                            <div>CARD SUBTITLE</div>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn flat>CARD ACTION</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</template>
<script>
    // @ is an alias to /src
    // import HelloWorld from '@/components/HelloWorld.vue'
    export default {
        name: "home",
        components: {
            // HelloWorld
        }
    };
</script>